#banner {
    width: 100%; 
    height: 450px;  }

.principal{
    background-color: #ffffff;
    padding: 30px;}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
      text-align: center;}

p {
    text-align: center;}

#missao{
    font-size: 20px}

em strong {
    color: rgb(255, 255, 255); }

.itens {
    font-style: italic;}

.qualidades {
    background: #FFFF;
    padding: 20px ;}

h2 {
    text-align: center;}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right:15%;}

.imagem-qualidades {
        width: 50%;}
